# General
node_modules/
.env
*.log
.DS_Store
.hats/role
.hats/logs/
.mcp.json

# API
api/vendor/
api/.env
api/tmp/
api/log/
api/storage/
api/public/assets/
api/public/index.html
api/public/favicon.ico

# App
app/node_modules/
app/.env

.claude

# QA
.hats/qa/node_modules/
.hats/qa/.features-gen/
.hats/qa/.features-gen-fast/
.hats/qa/.features-gen-workflow/
.hats/qa/test-results/
